

#main
{
	top:10px;
	left:201px;
	position:absolute;

}


#main-low
{
	top:40px;
	left:210;
	display: inline-block;
	position:absolute;
	width:80%;

}

#cssmenu
{
  background: #A8DB88;
  list-style: none;

  margin: 0;
  padding: 0;
  width: 12em;
  overflow-y:auto;
}

#cssmenu li
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;

}

hr.vertical
{
    width: 0px;
    height: 100%;
    border-right: 1px solid #FFF9F9;
    position:absolute;
    left:12.4em;
    top:0em;

} 
#cssmenu a {
  background: #A8DB88;
  border-bottom: 1px solid #FFF9F9;
  /*border-right: 1px solid #FFF9F9;*/
  color: #669;
  display: block;
  margin: 0;
  padding: 8px 0px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #94E5D2 repeat-x;
  color: #fff;
  padding-bottom: 8px;
}


#feature-page
{
padding:0px 10px;
float:center;
}


#total-scenarios
{
    border-collapse:collapse;
    font-weight:bold;
}


#features
{
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    width:120%;
    border-collapse:collapse;
margin-left: auto;
margin-right: auto;
text-align: left;
}

#features td, #features th
{
    font-size:0.94em;
    border:1px solid #dcf8e9;
    padding:3px 7px 2px 7px;
    line-height: 2.5;
    min-width: 115px;
}

#features th
{
    font-size:0.95em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#47dc88;
    color:#ffffff;
}

#features tr.alt td
{
    color:#000000;
    background-color:#ffffff;
}

#features-center
{
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    width:20%;
    border-collapse:collapse;
}

h4
{
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 24px;
    text-align:center;
    line-height: 20px;
    font-style:italic;
    font-family: 'Orienta', sans-serif;
}

h3
{
    margin: 1em 0 0.5em 0;
    padding-left:35px;
    color: #343434;
    font-size: 24px;
    text-align:left;
    line-height: 20px;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
}

h1
{
    padding-left:35px;
    font-size: 18px;
}



ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li
{
    float:left;
}

#feature-background-div
{
	width:100%;
 height:30px;
 padding: 45px 0px;
}

a:hover,a:active, a.full-h:hover, a.full-h.active
{
    color:#60be85;
}

.title
{
    text-align:left;
    font-size:50px;
    color: #87e89a;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    margin-left:0;
}

.full-height
{
 /*background-color:#26cd71;
background-color:#86d090;

*/
background-color:#ffffff;

   position: absolute;
   left:0;
   top:40;
   padding:40px 25px;
   margin-bottom: -4000px;
   padding-bottom: 100%;

   /*  		  		background:-o-linear-gradient(bottom, #ffffff 5%, #e5e5e5 100%);
         		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #05ca81) );
         	background:-moz-linear-gradient( center top, #56ff56 5%, #e5e5e5 100% );
         	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56ff56", endColorstr="#e5e5e5");	background: -o-linear-gradient(top,#86d090,e5e5e5);

     */

  box-shadow: 0 0 5px #09f9a0;
  word-wrap: break-word;
}
a.full-h
{
    width:100%;
    background-color:#ffffff;
    border-bottom: 1px solid #aaa;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;

    display:inline-block;
    width:100px;
    font-size:0.84em;
    color:blue;
    padding:15px;
    top:0;
    text-decoration:none;

       /*background: #86d090;*/

}

input[type="submit12"]
{
    background-color: #81a989;
    border-radius: 5px;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0 -1px #00629C;
    vertical-align: baseline;
}

.button-discuss
{
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
/*    color: #41a74f; */
color:#2e774a;
    height:28px;
    display: inline-block;
    font-size: 13px;

    letter-spacing: 0.04em;
    line-height: 2.0;
    min-width: 135px;
    text-align: center;
    text-shadow: none;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0px;

     -webkit-box-shadow: 0 0 5px 1px #e9f6e1;
        -moz-box-shadow: 0 0 5px 5px  #e9f6e1;
        border: solid 1px transparent;

        		background:-o-linear-gradient(bottom, #ffffff 5%, #e5e5e5 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e5e5e5) );
        	background:-moz-linear-gradient( center top, #ffffff 5%, #e5e5e5 100% );
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e5e5e5");	background: -o-linear-gradient(top,#ffffff,e5e5e5);
  float:right;
}

.discussion-board-button {
   background-color: #FFFFFF;
      border: medium none;
      border-radius: 0;
      box-shadow: none;
  /*    color: #41a74f; */
  color:#2e774a;
      height:28px;
      display: inline-block;
      font-size: 13px;

      letter-spacing: 0.04em;
      line-height: 2.0;
      min-width: 70px;
      text-align: center;
      text-shadow: none;
      font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
      padding: 0px;

       -webkit-box-shadow: 0 0 5px 1px #e9f6e1;
          -moz-box-shadow: 0 0 5px 5px  #e9f6e1;
          border: solid 1px transparent;

          		background:-o-linear-gradient(bottom, #ffffff 5%, #e5e5e5 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e5e5e5) );
          	background:-moz-linear-gradient( center top, #ffffff 5%, #e5e5e5 100% );
          	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e5e5e5");	background: -o-linear-gradient(top,#ffffff,e5e5e5);

      float:right;
}
/*input[type="submit"]*/



.cukes-button-approved
{
    background-color: #90d499;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #eff9f1;
    height:28px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 2.0;
    min-width: 125px;
    text-align: center;
    text-shadow: none;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 1px;
    width: 100px;

}

#update-add-title
{
    text-align:center;
    font-size:33px;
    color: #697266  ;

    font-weight: bold;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    display: inline-block;
    /* float:left; */
    margin:1px -1px;
    padding:15px 0px
}


#feature-project-name-title
{
    text-align:center;
    font-size:33px;
    color: #697266  ;

    font-weight: bold;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    display: inline-block;
    /* float:left; */
    margin:0px 0px 0 0;
    margin: auto auto;
    padding:30px 30px
}

.scenario-background
{

    background:#ffffff;
   -webkit-box-shadow: -2px 5px 15px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 1px 16px rgba(23, 69, 88, .5);


   background: -webkit-gradient(linear, left top, left bottom,
   color-stop(0%, #FFFFFF), color-stop(15%, #ffffff), color-stop(100%, #ffffff ));
   background: -moz-linear-gradient(top, #e9f6e1 0%, #ffffff 55%, #ffffff 130%);

   /*width:1100px;*/
   width:100%;
   height:auto;
   overflow:hidden;
}

.comment-wrapper
{
    /*width:1100px;*/
    width:100%;
}

.feature-description-box
{
    outline: none;
    overflow: auto;
    display: block;
    padding:0px;

    border: solid 5px transparent;

    resize:none;

    font-family: "Helvetica Neue";
    font-size: 14px;
    background: #fffffe repeat-x;
    font-weight:bold;


    	width:100%;

     padding-top: 0px;
     padding-bottom: 60px;
    	text-align: left;

    	display: block;

    	line-height: 1.8;
}

.comments-box
{
    width:100%;

    background: #f7fcf5;
    border: 4px solid #e9f6e1;

    outline: none;
    overflow: auto;
    display: block;
    padding:8px;


    border-radius: 2px;
    box-shadow: 0 0 5px #e9f6e1;

    -webkit-box-shadow: 0 0 5px 1px #e9f6e1;
    -moz-box-shadow: 0 0 5px 5px  #e9f6e1;
    border: solid 0px transparent;

    resize:vertical;
}

#approve, #add-project, #login-page, #sign-up
{
    float:right;
}

#submit_comment
{
    float:right;
}

.comment-box-div
{
    width:100%;

    height:auto;
	background: #d9f1de repeat-x;
	background-position: 0 -491px;
	vertical-align: bottom;
	position: relative;
	display: table;
}

.display_p
{

    width:100%;

    background: #fffffe;
    border: 1px solid #e0e9db;

    outline: none;
    overflow: auto;
    display: block;
    padding: 8px;


    box-shadow: 0 0 5px black;

    -webkit-box-shadow: 0 0 5px #bee4a6;
    -moz-box-shadow: 0 0 5px 1px  #e9f6e1;
    /*border: solid 0px transparent;*/

    font-family: Helvetica,arial,freesans,clean,sans-serif !important;
    font-size: 13px;
    color: #000000;

line-height: 1.7;
    vertical-align: bottom;

    position: relative;

    top: 0; left: 0;

     resize:vertical;
}

.username-comment
{
    color: #555d57;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style:italic;
    font-weight:bold;

    display: table;
    text-align: middle;
    vertical-align: middle;
    position: relative;
}


.scrollit
{

    overflow:scroll;
    height:auto;
    width:1060px;
}



.settings-icon-image
{
    margin-right: 0.5em;
    margin-bottom: -0.3em;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    visibility: hidden;
    content:url("/resources/images/settings-icon.png");
    background-repeat: no-repeat;
}


.loginpage-div-title
{
    position:absolute;
    left: 50%;
    width:25em;
    height:18em;
    margin-left: -15em;
    border: 1px solid #E1F6D3;
    background-color: #E1F6D3;
}

.login-page
{
    width:300px;
    height:40px;
    font-size:15px;


}
.signuppage-div-title
{
    position:absolute;
    left: 50%;
    width:25em;
    height:18em;
    margin-left: -15em;
    border: 1px solid #E1F6D3;
    background-color: #E1F6D3;
}

.sign-up
{
    width:300px;
    height:40px;
    font-size:15px;
}

#update-error
{
    font-size:11px;
    color:red;
    padding:11px 10px;
    margin:0em -0.8em;
    font-family:Arial, sans-serif;;
}
