.cukes-logo
{
    text-align:center;

    padding:20px;
    color: #87e89a;
    font-weight:bold;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

    width: 100%;

}

.cukesTitle
{
    float:left;
    height: auto;
    width: auto;
    margin-top:-12px;
}



.titlePart
{
    text-align:left;
    font-size:15px;
    color: lightgray;
    font-family: "Lucida Sans Unicode";
    float:left;
    margin-top:-15%;
    margin-left:37%;
    width: 100%;


}
.title
{
    text-align:left;
    font-size:19px;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-weight:bold;
    float:left;
}


.navigation-pane
{
    width:100%;
    background-color:#47dc89;
}

.navigation-pane ul
{
  /*  display: inline-block;
    list-style-type: none;*/

    list-style-type:none;
    margin:10px;
    padding:0px;
    overflow:hidden;
    float:right;

}

a.full:hover
{
  color:#b2f0cd;
}

a.full
{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

    font-weight:bold;
    font-size:0.80em;
    color:#FFFFFF;

    text-decoration:none;
    text-transform:uppercase;
    text-align:left;
    width:100%;
    display:inline;
    list-style-type:none;
    float:right;
    margin-left:40px;

    display: inline-block;
    white-space:nowrap;

}

/*4f5752*/

.bgColorA {
  position: relative;
  background: #86d090;

  		background:-o-linear-gradient(bottom, #86d090 5%, #e5e5e5 100%);
  		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #037f51), color-stop(1, #05ca81) );
  	background:-moz-linear-gradient( center top, #56ff56 5%, #e5e5e5 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56ff56", endColorstr="#e5e5e5");	background: -o-linear-gradient(top,#86d090,e5e5e5);

  	width:auto;
  	position:fixed;
  	width:100%;
  	z-index:30;
  	height:0%;


}
.logo_image{
src:url("/resources/images/logo.png");
position:fixed;
margin-left:0;
}
.bgColorA:before, h2:after {
  content: "";
  position: absolute;
  background: #5CBF69;

  width: 100%;

     margin:0;
      padding:0;


}
.bgColorA:before {

  right: 100%;
}
.bgColorA:after {

  left: 100%;
}

.pageTitle
{
    float:right;
    height: auto;
    width:auto;
    margin-top:-12px;
    margin-right: 0px;
}

 /*===============================================*/

ul
{
    padding: 0;
    list-style: none;
}

ul li.sub-menu
{
    width: 100%;
    height:10px;
    line-height: 4px;
    padding: 10px 10px 10px 3px;

    margin-right:1px;
    font-size:14;
    text-align:left;
    background: #86d090;
    border-bottom: solid 1px;

}

ul li.sub-menu-l
{
    display: inline-block;
    float: left;
    width: 100px;
    text-align: center;
    line-height: 21px;
    padding: 0px 0px 0px 40px;
    overflow:hidden;
    margin-top:-2.6px;
    margin-right:19.5px;
}

ul li a.s-menu
{

    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    white-space:nowrap;

    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

    font-weight:bold;
    font-size:0.80em;
    color:white;

    text-decoration:none;
    text-transform:uppercase;
    text-align:left;

    margin-left:-6px;

 }

 a.test-link
 {
   display: block; width: 100%; height: 100%;
 }

ul li.sub-menu:hover
{
  background-color:#72B17A;
}
ul li a.report-link:hover
{
   color:#b2f0cd;
}

ul li ul
{
    display: none;
}

ul li:hover ul
{
    display: block;
    margin-top:3.5px;
}